*{
    padding: 0;
    margin: 0;

}

#form
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

height:110vh;
width: 100%;

}

#form1
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

height:130vh;
width: 100%;

}

.body
{

height: 110vh;

}